/*valor-em-rem = tamanho-em-px / base-font-size*/
/*36px / 16 = 2.25rem*/

@font-face {
    font-family: 'Inter';
    src: url('./Inter/Inter-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./Inter/Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

