.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.default-layout__left-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    padding: 1.125rem 0rem;
    width: 100%;
    height: 100%;
    gap: 1.25rem;
}

.default-layout__logo-wrapper {
    margin-left: 1.25rem;
    color: var(--color-main-text-color);
    user-select: none;
}

.default-main__container {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}